

body {
  background-color: #222;
  color: white;
  letter-spacing: 2px;
  font-family: consolas;
}

section #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container a {
  text-decoration: none;
  color: crimson;
  background-color: black;
  padding: .7rem;
  border-radius: 1rem;
  box-shadow: 0 0 7px #444;
  border: #444 solid 1px;
}
